@using WireCart.Entities;
@model IEnumerable<Category>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Active</th>
                            <th> Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var catItem in Model)
                        {
                            <tr>
                                <td>
                                    @if (string.IsNullOrEmpty(catItem.ImageName))
                                    {
                                        <img src="https://dummyimage.com/50x50/55595c/fff" />
                                    }
                                    else{
                                        <img class="img_in_table" src="~/images/category/@catItem.ImageName" />
                                    }
                                </td>
                                <td>@catItem.Name</td>
                                <td>@catItem.Description</td>
                                <td>@catItem.IsActive</td>
                                <td>
                                    <a asp-page="CategoryEdit" asp-route-catId="@catItem.Id" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                </td>
                                @*<td class="text-right">

                            <form asp-page-handler="removetocart" method="post">
                            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                            <input type="hidden" asp-for="@Model.Cart.Id" name="cartId" />
                            <input type="hidden" asp-for="@cartItem.Id" name="cartItemId" />
                            </form>

                            </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>